#myform{
  width: 60%;
  margin-left:13%;
  text-align: center;
}
#labelOne{
  margin-left: 25%;
}
#unosPredmeta{
  margin-left: 18%;
  width: 65%;
}
#btnOtvoriModalZaUređivanje{
  width: 50%;
}
#unosECTS, #unosSemestar, #unosNazivPred{
  width: 80%;
  margin-left: 23%;
}

.collapse,
.collapsing {
  overflow: auto;
  max-height: 50vh;
}
.collapsible-link::before {
  content: '';
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

#prviDiv, #formDiv{
  width: 20%;
  margin-left: 40%;

}
#drugiDiv, #dinFormDiv{
  width: 60%;
  margin-left: 22%;
}
#btnObrisiPredmet{
  margin-left: 30%;
  font-weight: bold;
}


.collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
  transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
  transform: rotate(180deg);
}

#strictRight{
  margin-left: auto;
}
body {
  background: #2C42B6;
  background: -webkit-linear-gradient(to right, #2C42B6, #8093f3);
  background: linear-gradient(to right, #2C42B6, #8093f3);
  min-height: 25vh;
}
